body {
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.App {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 400px;
  text-align: center;
}
h1 {
  color: #333;
}

.todo-input {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.todo-input input {
  width: 75%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.todo-input button {
  padding: 10px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.todo-input button:hover {
  background-color: #218838;
}

.todo-list {
  list-style: none;
  padding: 0;
}

.todo-item {
    display: flex; /* Usamos flexbox para crear un contenedor flexible */
    justify-content: space-between; /* Coloca el texto a la izquierda y los botones a la derecha */
    align-items: center; /* Alinea verticalmente el contenido */
    padding: 10px;
    border-bottom: 1px solid #ccc; /* Añade una línea separadora entre items */
  }
  .todo-item span {
    flex-grow: 1; /* El texto de la tarea ocupará todo el espacio disponible */
    text-align: left; /* Asegura que el texto esté alineado a la izquierda */
  }

.todo-item.completed {
  text-decoration: line-through;
  opacity: 0.4;
}

.todo-item button {
    margin-left: 10px; /* Añade espacio entre los botones */
    padding: 5px 10px;
    background-color: #ff0505;
    border: 1px solid #ddd;
    cursor: pointer;
  }
  .todo-item button:hover {
    background-color: #f74242; /* Efecto hover para los botones */
  }
.todo-item .edit {
  background-color: #007bff;
  margin-right: 10px;
  
}

.todo-item .edit:hover {
  background-color: #0056b3;
}
.todo-item div {
    display: flex; /* Flexbox para organizar los botones */
    justify-content: flex-end; /* Alinea los botones a la derecha */
  }